  
<div class="card my-5">
    <div class="card-body">
      <h2>{{ title }}</h2>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pharmacy of pharmacys" id="pharmacy">
            <td>{{ pharmacy.id }}</td>
            <td>{{ pharmacy.name }}</td>
            <td>{{ pharmacy.phone }}</td>
            <td>{{ pharmacy.address }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>