  
<div class="card my-5">
    <div class="card-body" *ngIf="!showPharm" id="!showPharm">
      <h2>{{ title }}</h2>
     <!-- <input type="text" [(ngModel)]="terms" placeholder="Serach fields by name/address"/> -->

      <table class="table table-striped table-bordered table-sm row-border hover"  datatable [dtOptions]="dtOptions" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">
              Name
              </th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pharmacy of pharmacys | search:terms" id="pharmacy">
            <td>{{ pharmacy.id }}</td>
            <td><button type="submit" (click)="showPharmacy(pharmacy.name)"  
              class="btn btn-info"  style="width:100%">{{ pharmacy.name }}</button></td> 
              <!-- dodati da na klik ide na prfil apoteke-->
            <td>{{ pharmacy.phone }}</td>
            <td>{{ pharmacy.address }}</td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <div class="card my-5" *ngIf="showPharm" id="showPharm">
      <div class="card-body">
        <h2>{{ title }}</h2>
      </div>
      <p>
        <strong>Address: {{ pharmacy1.address }}</strong><br/>
        <strong>Phone: {{ pharmacy1.phone }}</strong><br/>
        <agm-map [latitude]="pharmacy1.latitude" [longitude]="pharmacy1.longitude">
          <agm-marker [latitude]="pharmacy1.latitude" [longitude]="pharmacy1.longitude"></agm-marker>
        </agm-map>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">City</th>
              <th scope="col">Remove dermatologist</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tr *ngFor="let derm of dermatologists | search:terms" id="dermatologists" >
            <td>{{ derm.id }}</td>
            <td>{{ derm.firstName }}</td>
            <td>{{ derm.lastName }}</td>
            <td>{{ derm.phoneNumber }}</td>
            <td>{{ derm.city }}</td>
            <td><button type="submit" (click)="removeDermatologistFromList(pharmacy1.id, derm.lastName)"
              class="btn btn-info" style="width:100%">Delete from list</button></td>
        </table>


        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">City</th>
              <th scope="col">Remove pharmacist</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tr *ngFor="let pharm of pharmacists" id="pharmacists">
            <td>{{ pharm.id }}</td>
            <td>{{ pharm.firstName }}</td>
            <td>{{ pharm.lastName }}</td>
            <td>{{ pharm.phoneNumber }}</td>
            <td>{{ pharm.city }}</td>
            <td><button type="submit" (click)="removePharmacistFromList(pharmacy1.id, pharm.lastName)"
              class="btn btn-info" style="width:100%">Delete from list</button></td>
        </table>


        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Code</th>
              <th scope="col">Type</th>
              <th scope="col">Remove medicine</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tr *ngFor="let med of medicines" id="medicines">
            <td>{{ med.id }}</td>
            <td>{{ med.name }}</td>
            <td>{{ med.code }}</td>
            <td>{{ med.type }}</td>
            <td><button type="submit" (click)="removeMedicineFromList(pharmacy1.id, med.name)"
              class="btn btn-info" style="width:100%">Delete from list</button></td>
        </table>
        <div>
          
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Pharmacy</th>
              <th scope="col">Date of end</th>
              <th scope="col">status</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tr *ngFor="let order of orders" id="orders">
            <td>{{ order.id }}</td>
            <td>{{ order.pharm.id }}</td>
            <td>{{ order.dateOfEnd | date:'medium' }}</td>
            <td>{{ order.status }}</td>
          </tr>
        </table>
      </div>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Dermatologist</th>
              <th scope="col">Date</th>
              <th scope="col">Schedule</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exam of examinations" id="examinations">
              <td>{{ exam.id }}</td>
              <td>{{ exam.dermatologist.firstName }}</td>
              <td>{{ exam.dateAndTime | date:'medium'}}</td>
              <td><button type="submit" [disabled]="isPharmacyAdmin" (click)="scheduleExamination(exam.id)"  
                class="btn btn-info"  style="width:100%">schedule</button></td>
            </tr>
          </tbody>
        </table>
      <div *ngIf="isAdmin">
            <input list="freeAdmins"  [(ngModel)]="pharmAdmin.email"
      class="form-control" 
      id="pharmAdmin.email" 
      name="pharmAdmin.email"  >

      <datalist id="freeAdmins">
        <option *ngFor="let freeA of freeAdmins" id="freeAdmins">{{freeA.email}}
        </option>
      </datalist>
      <button type="submit" (click)="makeAdmin()"  
              class="btn btn-info" >Add admin to pharmacy</button>
        </div>
        <button type="submit" (click)="backFun()"  
              class="btn btn-info" >Back to list</button>
    </div>
  </div>