  
<div class="card my-5">
    <div class="card-body">
      <h2>List of offers</h2>
    </div>
    <div>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Supplier</th>
            <th scope="col">Order</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of offers" id="offers">
            <td>{{ offer.id }}</td>
            <td>{{ offer.supplier.id }}</td>
            <td>{{ offer.order.id }}</td>
            <td>{{ offer.price }}</td>
            <td>{{ offer.status }}</td>
            <td><button type="submit"   
                class="btn btn-info" (click)="onSubmit(offer.id)" style="width:100%">Approve</button></td> 
          </tr>
        </tbody>
      </table>
    </div>


    
  </div>