<div class="container">
    <p>
        <a href="myprofile">My profile</a><br/>
        <a href="pharmacy-list">Pharmacy list</a><br/>
        <a href="add-new">Add new employee to pharmacy</a><br/>
        <a href="absences-list">Requests for absence</a><br/>
        <a href="add-medicine-to-pharmacy">Add medicine to pharmacy</a><br/>
        <a href="add-promotion">Add new promotion</a><br/>
        <a href="add-order-item">Add order item to order</a><br/>
        <a href="add-new-order">Add new order</a><br/>
        <a href="add-pricelist">Add pricelist</a><br/>
    </p>
</div>